* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after { 
	content: ""; 
	display: table; 
	clear:both 
	}

.container {
  width: 80%;
  margin:30px auto 30px;
}

.row {
  width: 100%;
  margin:30px auto 0;  
}

/* CARD */

.card {
  float: left;
  position: relative;
}

.card.left, .card.right{
  width: 30%;
}

.card.left {
  margin-left: 2.5%;
}

.card.middle {
  width: 30%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}


.card .first-image, .card .second-image {
  width: 100%;
}

img.first-image {
  z-index: 10;
}

img.second-image {
  position: absolute;
  visibility: hidden;
  left:0;
  top: 0;
  z-index: 20;
}

.card:hover img.second-image {
  cursor: pointer;
  visibility: visible;
}

/* EXTRA */

.love {
  background-color: white;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 30;
  text-align: center;
}

.love::after {
  content: '\2665';
  font-size: 30px;
  color: black;
  line-height: 50px;
}

.top {
  position: relative;
}

.sale {
  background-color: #eb0037;
  width: 45px;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 31;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.sale span, .tag span {
  line-height: 30px;
  color: white;
}

.tag {
  background-color: #00875a;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 31;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}

.sale + .tag {
  left: 50px;
}

/* DESCRIPTION */

.description .brand {
  font-size: 15px;
  font-weight: 400;
}

.description .outfit {
  font-weight: 700;
}

/* PRICE */

.price {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: 550;
}

.price::after {
  content: ' \20AC';
}

.price.old {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 300;
  text-decoration: line-through;
}




